<
link rel       ="shortcut icon       " href       ="bootstrap /ico/favicon.ico     
     "/> <link rel
          ="apple-touch-icon-precomposed      " sizes       ="144x144      "
    href
          ="bootstrap /ico/apple-touch-icon-144-precomposed.png       "/> <link rel
          ="apple-touch-icon-precomposed      " sizes       ="114x114      "
    href
          ="bootstrap /ico/apple-touch-icon-114-precomposed.png       "/> <link rel
          ="apple-touch-icon-precomposed      " sizes       ="72x72      " href
          ="bootstrap /ico/apple-touch-icon-72-precomposed.png       "/> <link rel
          ="apple-touch-icon-precomposed      " href
          ="bootstrap /ico/apple-touch-icon-57-precomposed.png       "/> form.bs-docs-example
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

/*
Set top and down margin for rows in the layout
*/
.show-grid {
    margin-top: 10px;
    /*
    margin-bottom:10px;
    */
}

.half-table {
    width: "50%";
}

.my-text-center {
    text-align:center;
}

/*
Add background color to the grid for the table
*/
.special-div {
    background-color: #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    height:30px;
    margin-bottom:10px;
    /*
    line-height: 40px;
    min-height: 40px;
    */
}